# {% macro shell_quote(value) -%}'{{ value | string | replace("'", "'\"'\"'") }}'{%- endmacro %}
name: "workspace-zulip-provider"
description: "Workspace Zulip provider element"
schema_version: 1
version: "{{ version }}"
api_version: "v1"

requirements:
  core:
    from_version: "0.0.0"
  dbaas:
    from_version: "0.0.0"
  workspace:
    from_version: "0.0.0"

imports:
  pg18:
    element: "$dbaas"
    kind: "resource"
    link: "$dbaas.types.postgres.versions.$pg18"
  workspace_backend_node:
    element: "$workspace"
    kind: "resource"
    link: "$workspace.backend_node"

resources:
  $core.compute.nodes:
    workspace_zulip_provider:
      name: "workspace-zulip-provider"
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      cores: 1
      ram: 1024
      disk_spec:
        kind: "disks"
        disks:
          - size: 8
            image: "workspace-zulip-provider"
            label: root

  $core.secret.passwords:
    workspace_zulip_provider_db_password:
      name: workspace_zulip_provider_db_password
      description: "Workspace Zulip provider PostgreSQL password"
      constructor:
        kind: plain
      method: AUTO_HEX

  $dbaas.types.postgres.instances:
    workspace_zulip_provider_cluster_pg:
      name: "workspace-zulip-provider-pg-cluster"
      nodes_number: 1
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      cpu: 1
      ram: 1024
      disk_size: 10
      version: $workspace_zulip_provider.imports.$pg18:uuid

  $dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg.users:
    workspace_zulip_provider_db_user:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      name: workspace_zulip_provider
      password: $core.secret.passwords.$workspace_zulip_provider_db_password:value
      instance: $dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg:uuid

  $dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg.databases:
    workspace_zulip_provider_db:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      name: workspace_zulip_provider
      owner: $dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg.users.$workspace_zulip_provider_db_user:uuid
      instance: $dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg:uuid

  $core.config.configs:
    workspace_zulip_provider_config:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      path: /etc/workspace-provider/provider.env
      mode: "0600"
      target:
        kind: node
        node: $core.compute.nodes.$workspace_zulip_provider:uuid
      on_change:
        kind: shell
        command: /usr/local/bin/workspace-provider-reload
      body:
        kind: text
        content: |
          f"
          WORKSPACE_PROVIDER_BINARY='workspace-zulip-provider'
          WORKSPACE_PROVIDER_UUID={{ shell_quote(provider_uuid | default('ea7d715b-4952-542f-b2c0-fa7ca752cc25')) }}
          WORKSPACE_PROVIDER_NAME={{ shell_quote(provider_name | default('Zulip')) }}
          WORKSPACE_BACKEND_URL='http://{$workspace_zulip_provider.imports.$workspace_backend_node:join(ipsv4)}:21085'
          DATABASE_URL='postgresql://{$dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg.users.$workspace_zulip_provider_db_user:name}:{$core.secret.passwords.$workspace_zulip_provider_db_password:value}@{$dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg:join(ipsv4)}:5432/{$dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg.databases.$workspace_zulip_provider_db:name}'
          "

  $core.em.services:
    workspace_zulip_provider:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      name: workspace-zulip-provider
      path: /usr/local/bin/workspace-provider-run workspace-zulip-provider
      user: root
      target:
        kind: node
        node: $core.compute.nodes.$workspace_zulip_provider:uuid
      service_type:
        kind: simple
        count: 1
      target_status: enabled
      before:
        - kind: shell
          command: test -x /usr/local/bin/workspace-provider-run -a -s /etc/workspace-provider/provider.env

exports:
  provider_node:
    link: "$core.compute.nodes.$workspace_zulip_provider"
    kind: "resource"
  db_instance:
    link: "$dbaas.types.postgres.instances.$workspace_zulip_provider_cluster_pg"
    kind: "resource"
