[Unit]
Description=Workspace API
After=network-online.target dovecot.service exim4.service
Wants=network-online.target

[Service]
Type=simple
User=workspace
ExecStart=workspace-api --config-file /etc/workspace/workspace.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
