[Unit]
Description=Workspace trusted provider API
After=network.target postgresql.service

[Service]
Type=simple
User=workspace
ExecStart=workspace-provider-api --config-file /etc/workspace/workspace.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
