[Unit]
Description=Workspace Messenger API
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=always
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=workspace-messenger-api --config-file /etc/workspace/workspace.conf

[Install]
WantedBy=multi-user.target
