[Unit]
Description=Workspace Messenger Worker
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=workspace-messenger-worker --config-file /etc/workspace/workspace.conf

[Install]
WantedBy=multi-user.target
