[Unit]
Description=Workspace Integration Bridge Worker
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=always
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=workspace-integration-bridge-worker --config-file /etc/workspace/workspace.conf

[Install]
WantedBy=multi-user.target
